.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.target_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(90vw/3);
    border: solid 3px;
}
.square{
    width: calc(100%/3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    cursor: pointer;
}
.square:hover{
    background-color: cadetblue;
}
.inner{
    width: 0px;
    height: 0px;
    padding-bottom: calc(100%/3);
}


.deleteicon{
    width: 20px;
    height:20px;
    cursor: pointer;
}
.editicon{
    width: 20px;
    height:20px;
    cursor: pointer;
}